@{
    string twoLettersCulture = new System.Globalization.CultureInfo(Culture).TwoLetterISOLanguageName;
}
<li>@Html.ActionLink(@Resources.Shared.About, "About", "Home", new { lang = @twoLettersCulture }, new { })</li>
